.gradient(@from:#F1F1F1,@to:#FDFDFD){
    background: @from; /* Old browsers */
    background: -moz-linear-gradient(top,  @from 0%, @to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to));
    background: -webkit-linear-gradient(top,  @from 0%,@to 100%);
    background: -o-linear-gradient(top,  @from 0%,@to 100%);
    background: -ms-linear-gradient(top,  @from 0%,@to 100%);
    background: linear-gradient(to bottom,  @from 0%,@to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@from, endColorstr=@to,GradientType=0 );
}

.gradient_2color(@value1,@value2) {
    background: @value2;
    background: -moz-linear-gradient(left,  @value1 0%, @value1 5px, @value2 5px, @value2 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,@value1), color-stop(5px,@value1), color-stop(5px,@value2), color-stop(100%,@value2));
    background: -webkit-linear-gradient(left,  @value1 0%,@value1 5px,@value2 5px,@value2 100%);
    background: -o-linear-gradient(left,  @value1 0%,@value1 5px,@value2 5px,@value2 100%);
    background: -ms-linear-gradient(left,  @value1 0%,@value1 5px,@value2 5px,@value2 100%);
    background: linear-gradient(to right,  @value1 0%,@value1 5px,@value2 5px,@value2 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@value1', endColorstr='@value2',GradientType=1 );
}

.calcWidth(@value){
    width: -webkit-calc(@value);
    width: -moz-calc(@value);
    width: calc(@value);
}

.calcHeight(@value){
    height: -webkit-calc(@value);
    height: -moz-calc(@value);
    height: calc(@value);
}

.border_radius(@px){
    -webkit-border-radius: @px;
    -moz-border-radius: @px;
    border-radius: @px;
}

.size(@width,@height){
    width: @width;
    height: @height;
}

.box_shadow(@value){
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    box-shadow: @value;
}

.transition (@value:all 250ms ease){
    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.bb {
    box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
}

.column_set (@gap, @space){
    -moz-column-count:@gap; /* Firefox */
    -webkit-column-count:@gap; /* Safari and Chrome */
    column-count:@gap;

    -moz-column-gap:@space; /* Firefox */
    -webkit-column-gap:@space; /* Safari and Chrome */
    column-gap:@space;
}

.padding_box {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}