@import "_reset.less";
@import "_mixins.less";

html,body {height:100%;}
body {font-family: arial; font-size: 14px; line-height: 18px; color:#636363;}
h1,h2 {font-size: 24px; line-height: 24px; margin-bottom: 10px;}
a {text-decoration: none;}

.applicationView {height:100%;} /*CLASS NAME OF APPLICATION VIEW - NEED 100% HEIGHT*/

@leftPart: 300px;

@lightBlue: #67d3df;
@orange: #f9b852;

//MAIN MENU ON TOP
@menuHeight: 50px;
#mainMenu{height: @menuHeight; background: #2e2e2e; line-height: @menuHeight;
    .leftPart{width: @leftPart; .pull-left;
        #logo {font-size: 14px; color:#e8e8e8; padding: 0px 15px; display: block;}
    }
    .rightPart{
        a {color:#c2c2c2;}
        ul {
            li {float: left;
                a {width:100px; display: block; border: 3px solid #2e2e2e; line-height: (@menuHeight - 6px); .text-center; .transition();
                    &.active,&:hover{background: #4a4a4a; color:#ebebeb;}
                }
            }
        }
    }
}

#leftPart, #rightPart{.calcHeight(~"100% - 50px - 30px - 30px"); /* 50px(menuHeight), 30px(padding-top), 30px(padding-bottom)*/}

#leftPart {.pull-left; width: (@leftPart - 3px); padding:30px 0px; border-right:3px solid #eee;
    h1 {font-size: 24px; line-height: 24px; margin-bottom: 10px;}
    .padding {padding-left: 15px; padding-right: 12px;}
}
#rightPart {.pull-right; .calcWidth(~"100% - 300px"); padding:30px 0px; overflow-y: auto;
    .padding {padding-left: 15px; padding-right: 15px;}
}


//MISC
.clearfix {clear: both;}
.pull-left {float: left;}
.pull-right {float: right;}
.text-center {text-align: center;}
.img-rounded {.border_radius(50%);}