<div id="mainMenu">
    <div class="leftPart">
        {{#linkTo 'index'}}SinglePage{{/linkTo}}
    </div>
    <div class="rightPart">
        <ul>
            <li>{{#linkTo 'menu1'}}Menu1{{/linkTo}}</li>
            <li>{{#linkTo 'menu2'}}Menu2{{/linkTo}}</li>
        </ul>
    </div>
</div>
<div id="leftPart">
    <div class="padding">
        <h1>Left part</h1>
        <p>This is left part of single page html/css layout</p>

    </div>
</div>
<div id="rightPart">
    <div class="padding">
        {{outlet}}
    </div>
</div>
<div class="clearfix"></div>